.options-wrapper {
    display: grid;
    grid-template-rows: 60px auto;
    height: 100%;
}

.options-topbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.options-topbar-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 40px;
    height: 40px;
    padding: 5px;
    background: var(--secondary-bg);
    border-radius: 50%;
    cursor: pointer;
}

.options-topbar-btn:hover {
    background: var(--hover-secondary);
}

.options-topbar-title {
    font-size: 1.5rem;
}

.options-content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: var(--primary-bg);
    height: 100%;
}

.options-navbar {
    display: flex;
    flex-direction: column;
    background: var(--secondary-bg);
    overflow-y: auto;
}

.options-nav-item {
    display: flex;
    align-items: center;
    padding: 8px 5px;
    cursor: pointer;
}

.options-nav-item:hover {
    background: var(--hover-secondary);
}

.options-nav-item-active {
    background: var(--primary-bg);
}

.options-nav-item-icon {
    flex: 0 0 30px;
    height: 30px;
    padding: 4px;
}

.options-nav-item-text {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 5px;
}

.options-tab-wrapper {
    display: flex;
    flex-direction: column;
}

.options-tab-category {
    display: grid;
    grid-template-rows: 46px auto;
    padding: 10px;
}

.options-tab-subtitle {
    align-self: center;
}

.options-tab-content {
    display: flex;
    flex-direction: column;
}

.options-tab-item {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: min-content min-content;

    grid-template-areas:
        "title input"
        "description .";
    margin-bottom: 20px;
}

.options-tab-item-title {
    font-size: 0.8rem;
    justify-self: start;
    align-self: start;
    grid-area: title;
}

.options-tab-item-description {
    justify-self: start;
    align-self: start;
    grid-area: description;
    font-size: 0.7rem;
    font-weight: 300;
}

.options-tab-item-input {
    justify-self: start;
    align-self: start;
    grid-area: input;
    width: 40px;
    height: 18px;
    border: 0;
    border-radius: 3px;
}

.options-tab-item-input[type="text"] {
}

.options-tab-item-input[type="checkbox"] {
    padding: 0;
    margin: 0;
    height: 15px;
    width: 15px;
}
